<h1>Demo#sample</h1>
<p>Hello from sample</p>

<a href="/demo/hello">Hello Page HTML</a> <br />
<%= link_to('Hello Page RAILS',{:controller => 'demo',:action => 'hello'}) %>
<br />
<%= link_to('Hello Page with parameters',{:controller => 'demo',:action => 'hello',:id => 20,:page => 5}) %>
